<h1>ngx-translate</h1>

<section>
  <!-- パイプは以下の書き方。 -->
  <div>{{ 'HELLO' | translate:param }}</div>
  <div [innerHtml]="'HELLO' | translate:param"></div>

  <!--
    ディレクティブは次の書き方。
    ただし、HELLOという文字が一瞬見えてしまうので、上のパイプの書き方が良い。(bug?)
  -->
  <div [translate]="'HELLO'" [translateParams]="{value: 'world'}"></div>
  <div translate [translateParams]="{value: 'world'}">HELLO</div>
</section>

<section>
  <img [src]="'FLAG' | translate">
</section>

<section>
  <!-- 言語切替 -->
  <select #lang (change)="setCurrentLang(lang.value)">
    <option value="ja">日本語</option>
    <option value="en">English</option>
  </select>
</section>